@import "tailwindcss";
@plugin "daisyui";

/* ADJUST HERE FOR DESIGN TEMPLATE */
@theme {
  --color-primary-grey: #747474;

  --font-sans: 'Helvetica Neue', sans-serif;

  --font-size-header: 196px;
  --font-size-accent: 50px;
  --font-size-body: 24px;

  --font-weight-regular: 200;
  --font-weight-accent: 300;
  --font-weight-bold: 700;

  --font-style-accent: italic;
}